/*Grid del body*/
body
{
  background-color: #5E000F;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 2fr 1fr;
  grid-template-areas: "header header"
  "left right"
  "footer footer";
  height: 100vh;
}
.header
{
  grid-area: header;
}
.left
{
grid-area: left;
}
.right
{
grid-area: right;
}
.footer
{
grid-area: footer;
}

/*header*/
.headerimg
{
  margin: 1em;
  margin-right: 0;
  width: 4em;
  height: 4em;
  border-radius: 1.5em;
}
.headerimg:hover
{
  transition: all 0.2s ease-in;
  width: 4.5em;
  height: 4.5em;
}
.container-head
{
  position: fixed;
  display: flex;
  height: 7em;
  width: 100%;
  background-color: #2E000F;
  border-style: solid;
  border-color: black;
  gap: 2%;
  z-index: 1000;
  justify-content: flex-start;
  align-items: center;
}
.tituloprincipal
{
  display: block;
  width: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  font-weight: 800;
  color: #997744;
  font-style: italic;
}
/*Barra de busqueda y menu*/
.headernav
{
  display: flex;
  position: relative;
  gap: 10%;
  width: 100%;
  height: 4em;
  margin: 0;
  padding: 0;
  background-color: none;
  justify-content: left;
  align-items: center;
}
.navitem1
{
  width: 35%;
  background-color: #55000F;
  margin: 0;
  padding: 1em;
  border-style: solid;
  border-width: .1em;
  border-color: #000000;
  border-radius: .7em;
  align-content: center;
  color: #CCCCCC;
}
.navitem1:hover
{
  transition: all 0.2s ease-in;
  width: 50%;
  border-color: #997744;
}
#barradebusqueda
{
  width: 90%;
  height: 3em;
  position: relative;
  left: 3%;
  border-style: solid;
  border-color: #000000;
  border-radius: .75em;
  border-width: .1em;
  padding: 1em;
  background-color: #5E222F;
}
.navitem2
{
  position: relative;
  left: -5%;
  display: flex;
  width: 50%;
  align-content: center;
  padding: 1em;
  background-color: none;
  color: #CCCCCC;
  font-size: 1em;
}
#menu1, #menu2, #menu3, #menu4
{
  width: 25%;
  align-content: center;
}
.dropdownmenu
{
  display: none;
}

@media screen and (max-width: 958px) 
{
  .tituloprincipal
  {
    font-size: 1.5em;
  }
  .headernav  
  {
    left: 5%;
    width: 50%;
  }
  .navitem1
  {
    width: 100%;
  }
  .navitem1:hover
  {
    transition: all 0.2s ease-in;
    width: 100%;
  }
  .navitem2
  {
    display: block;
    width: fit-content;
    align-items: center;
    padding: 0;
    margin: 0;
    left: 5%;
    border: none;
  }
  #menu1, #menu2, #menu3, #menu4
  {
    display: none;
  }
  .dropdownmenu
  {
    display: block;
    border: none;
    list-style: none;
    position: relative;
    right: 50%;
  }
  #barradebusqueda
  {
    width: 90%;
  }
}
@media screen and (max-width: 858px)
{
  .headernav  
  {
    left: 0%;
  }
}
@media screen and (max-width: 600px)
{
  .container-head
  {
    padding-left: 2%;
  }
  .tituloprincipal
  {
    position: relative;
    left: 5%;
    width: 50%;
  }
  .navitem1
  {
    display: none;
  }
  .navitem2
  {
   left: 55%; 
  }
}


/*Contenido de la sección principal*/
.mainsection
{
  margin-top: 10em;
  position: relative;
  background-color: #3E000F;
  width: 100%;
  height: auto;
  color: #CCCCCC;
  margin: 1.5em;
  padding: 1.5em;
  padding-bottom: 6em;
  border-style: solid;
  border-color: #000000;
  border-width: .2em;
}
.section1
{
  width: 70%;
  position: relative;
  left: 10%;
  padding: 1em;
  padding-left: 1.5em;
  border-style: solid;
  border-color: #111111;
  background-color: #44121F;
}
.maintitle
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  font-style: italic;
  color: #8A333C;
  padding: .25em;
  position: relative;
  left: 37%;
  border-style: solid;
  border-radius: .3em;
  border-width: .1em;
  border-color: #2E000F;
  width: fit-content;
}
.gridimg
{
  width: 70%;
  height: 85%;
  border-style: solid;
  border-color: #000000;
}
.maingridarea
{
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
  grid-gap: 3%;
  padding: 1em;
  padding-left: 3em;
}
@media screen and (max-width: 958px) 
{
  .mainsection
  {
   padding-bottom: 14em;
   width: 90%;
  }
  .maintitle
  {
    left: 25%;
  }
  .section1
  {
    left: 8%;
  }
  .maingridarea
  {
    grid-template: 1fr 1fr/1fr 1fr;
    position: relative;
    left: 2%;
  }
  .gridimg
  {
    max-width: 7em;
  }
}
@media screen and (max-width: 858px)
{
  .mainsection
  {
   padding-bottom: 16em;
  }
  .maintitle
  {
    left: 25%;
  }
  .maingridarea
  {
    grid-template: 1fr 1fr/1fr 1fr;
    padding-left: 1em;
  }
  .gridimg
  {
    max-width: 6em;
  }
}
@media screen and (max-width: 600px)
{
  body
  {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    grid-template-areas: "header"
    "left"
    "right"
    "footer";
    height: 100vh;
  }
  .mainsection
  {
    width: 80%;
  } 
  .maintitle
  {
    left: 23%;
  }
  .maingridarea
  {
    justify-items: center;
  }
}

/*Contenido del side*/
.gridsideimg
{
  width: 65%;
  border-style: solid;
  border-color: #000000;
}
.secondtitle
{
  color: #998855;
  font-weight: 800;
  font-size: 1.3em;
  position: relative;
  left: 15%;
}
.side
{
  position: relative;
  top: 10%;
  left: 25%;
  margin: 1em;
  padding: 2em;
  width: 45%;
  border-color: #000000;
  background-color: #5E222F;
  border-style: solid;
}
.sidegridarea
{
  display: grid;
  grid-template-rows: 1fr;
  gap: 2%;
  padding-bottom: 2em;
}
.gridsideitem
{
  position: relative;
  left: 15%;
}
iframe
{
  width: 50%;
  position: relative;
  left: 32%;
  top: 10em;
}

@media screen and (max-width: 958px) 
{
  .side
  {
    top: 7%;
    left: 15%;
  }
  .secondtitle
  {
    font-size: 1em;

  }
}
@media screen and (max-width: 858px)
{
  .side
  {
    width: 50%;
  }
  .secondtitle
  {
    position: relative;
    left: -1em;
  }
}
@media screen and (max-width: 600px)
{
  .side
  {
    width: 30%;
    top: 0%;
    left: 25%;
  }
  iframe
  {
    top: 0;
    left: 25%;
  }
}

/*Contenido del footer*/
.footerflex
{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-top-style: solid;
  border-width: .1em;
  border-top-color: #997744;
  background-color: #111111;
  color: #EEEEEE;
}
.footeritem
{
  position: relative;
  top: 30%;
  width: fit-content;
  height: fit-content;
  padding: .7em;
}
@media screen and (max-width: 958px) 
{
  .footerflex
  {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    height: 100%;
    padding-bottom: 2em;
    justify-items: left;
  }
  .footeritem
  {
    left: 20%;
    padding: 1em;
  }
}
@media screen and (max-width: 858px)
{
  .footeritem
  {
    left: 10%;
    padding: 1em;
  }
}

a:link, a:visited, a:active
{
  color:white;
  text-decoration: none;
}

a:hover
{
  border: 1px solid red
}
